


.component{
  height: 100vh;
  width: 100%;
  position: relative;
} 

.kleur_front{
  height: 40%;
  width: 100%;
  background-color: #34B76A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kleur{
  height: 20%;
  width: 100%;
  background-color: #34B76A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kleur .titel {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.kleur_front img{
  position: relative;
  right: 4%;
}



.back{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.back svg{
  height: 50px;
  margin-right: 15px;
  margin-top: 15px;
}

.front{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.front svg{
  height: 30px;
  margin-right: 15px;
  margin-top: 15px;
  
}

.knoppen{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.knoppen .knop{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  width: 80%;
  border-radius: 20px;
  border: none;
  background-color: #D3D3D3;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a{
  color: black !important;
  text-decoration: none !important;
}

.wave{
  margin-top: -2px;
}

.home-knop{
  position: fixed;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #D3D3D3;
  padding: 10px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 824px) {
  .kleur_front img{
    height: 200px;
    right: 5%;
  }
}

@media only screen and (max-width: 444px) {
  .kleur_front img{
    height: 130px;
    right: 5%;
  }
}